@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



input:not(.dont-pad-this-input) {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.144);
}

:is(.dark .item-master-input) {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, 0.11);
    color: whitesmoke;
}

.item-master-input {
    background-color: rgba(0, 0, 0, 0.247);
}

.backface-invisible {
    backface-visibility: hidden
}

.h-\[60vh\] {
    height: 60vh;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring-div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(22 163 74);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(22 163 74) transparent transparent transparent;
}

:is( .dark .dark\:lds-ring-dark-div) {
  border: 8px solid rgb(134, 239, 172);
  border-color: rgb(134, 239, 172) transparent transparent transparent;
}

.lds-ring-div div:nth-child(0) {
  animation-delay: -0.45s;
}
.lds-ring-div div:nth-child(1) {
  animation-delay: -0.3s;
}
.lds-ring-div div:nth-child(2) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
